APP_NAME=Model Registry
ENV=dev

DATABASE_URL=postgresql+psycopg2://registry:registry@postgres:5432/registry

JWT_SECRET=change_me
JWT_ALG=HS256
JWT_EXPIRE_MINUTES=720

S3_ENDPOINT=http://minio:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=models
S3_REGION=us-east-1
S3_SECURE=false

ALLOW_ANON_WRITE=true